.form {
  width: 90%;
}

.inputImg {
  margin: 1rem 0;
}

.preview {
  background-size: cover;
  background-position: 50%;
  border-radius: 1rem;
  object-fit: cover;
  height: 100%;
  margin-top: 0.875rem;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 90px;
}

.container {
  

  
}

