@import '../../Sass/VarsAndMixins.scss';

.button {
  background: #eee;
  border: 1px solid transparent;
  border-radius: .4rem;
  cursor: pointer;
  font-size: .875rem;
  font-family: $first-font;
  line-height: 1;
  padding: .3rem .6rem;
  transition: .1s;

  &:hover, &:focus {
    background: white;
    border-color: #333;
    box-shadow: 0 0 0 0 3px #eee;
    outline: none;
  }
}

.link {
  color: rgb(255, 0, 0);
}