@import '../../Sass/VarsAndMixins.scss';

.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 110vh;
  gap: 2rem;

  &::before {
    background: url('../../Assets/login.jpg') no-repeat center center;
    background-size: cover;
    content: '';
    display: block;
    height: 100%;
  }

  @include media(mobile) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10rem;
    min-height: 100vh;

    &::before {
      display: none;
    }
  }
}

@media only screen and (max-width: 640px)  {
  .login {
    grid-template-columns: 1fr;
    padding-left: 1rem;
    width: 100%;
  }

  .login::before {
    display: none;
  }
}


